input {
    display: flex;
    outline: none;
    border: none;
    border-bottom: black solid 1px;
    margin: 0;
    font-size: 150%;
    -webkit-appearance: none;
}

input:hover {
    cursor: pointer;
}

.form-input {
    margin-bottom: 5%;
    min-height: 3rem;
    width: 100%;
}
