.button {
    height: 50px;
    align-items: center;
    border-radius: 500px;
    padding: auto;
    outline: none;
    color: #000;
    border: none;
    background: #FDBF5A;
    font-weight: 400;
    font-size: 130%;
    min-width: 40%;
    min-height: 10%;
}

.button:hover {
    cursor: pointer;
}

.button:active {
    background: #FFA842;
}