@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body,
main {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  margin: 0;
  text-align: center;
}

.form {
  min-height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 5%;
}